* {
    font-family: "Tahoma";
}
.header {
    background: lightgray;
    padding: 30px;
}

.content {
    margin-left: 20px;
    margin-right: 100px;
    background: lightgray;
}

.links {
    padding: 20px;
    background: slategray;
}

img {
    height: 100px;
}

.animal {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.animal-info {
    display: flex;
    flex-direction: row;
}

.description-from-type-label {
    margin-left: 20px;
}